<% content_for :form_wrap do %>
	<h2 class="text-3xl font-bold mb-6">Edit <%= resource_name.to_s.humanize %></h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>

		<div class="mb-6">
			<%= f.label :email, class: 'label' %>
			<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
		</div>

		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
			<div class="italic my-1 text-gray-600">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>

		<div class="mb-6">
			<%= f.label :password, class: 'label' %>
			<%= f.password_field :password, autocomplete: "new-password", class: 'input' %>
			<p class="italic my-1 text-gray-600"><i>(leave blank if you don't want to change it)</i></p>
			<% if @minimum_password_length %>
				<p class="italic my-1 text-gray-600"><em><%= @minimum_password_length %> characters minimum</em></p>
			<% end %>
		</div>

		<div class="mb-6">
			<%= f.label :password_confirmation, class: 'label' %>
			<%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
		</div>

		<div class="mb-6">
			<%= f.label :current_password, class: 'label' %>
			<%= f.password_field :current_password, autocomplete: "current-password", class: 'input' %>
			<p class="italic my-1 text-gray-600"><i>(we need your current password to confirm your changes)</i></p>
		</div>

		<%= f.submit "Update", class: 'btn btn-indigo w-full' %>
	<% end %>

	<hr class="my-6">

	<h3 class="text-2xl font-bold mb-3">Cancel my account</h3>

	<div>
		<%= button_to "Cancel my account", registration_path(resource_name),
        data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
        method: :delete,
        class: 'btn btn-outline w-full' %>
	</div>

	<div class="my-3">
		<%= link_to "Back", :back, class: 'underline' %>
	</div>
<% end %>
<%= render "devise/shared/form_wrap" %>