<div class="-ml-5 flex flex-col items-center text-center w-1/12">
	<% if user_signed_in? %>
		<%= button_to upvote_submission_comment_path(submission, comment), method: :put, class: 'px-3 group' do %>
			<%= render_svg 'icons/up-vote', styles: 'fill-current text-gray-500 w-4 h-4 group-hover:text-indigo-600' %>
		<% end %>
		<span id="<%= dom_id(comment) %>_votes_count" class="text-gray-700 text-center block -mt-1"><%= comment.total_vote_count %></span>
		<%= button_to downvote_submission_comment_path(submission, comment), method: :put, class: 'px-3 group' do %>
			<%= render_svg 'icons/down-vote', styles: 'fill-current text-gray-500 w-4 h-4 group-hover:text-indigo-600' %>
		<% end %>
	<% else %>
		<%= link_to new_user_session_path, class: 'px-3 group' do %>
			<%= render_svg 'icons/up-vote', styles: 'fill-current text-gray-500 w-4 h-4 group-hover:text-indigo-600' %>
		<% end %>
		<span id="<%= dom_id(comment) %>_votes_count" class="text-gray-700 text-center block -mt-1"><%= comment.total_vote_count %></span>
		<%= link_to new_user_session_path, class: 'px-3 group' do %>
			<%= render_svg 'icons/down-vote', styles: 'fill-current text-gray-500 w-4 h-4 group-hover:text-indigo-600' %>
		<% end %>
	<% end %>
</div>
