<% content_for :form_wrap do %>
	<h2 class="text-3xl font-bold mb-6">Change your password</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>
		<%= f.hidden_field :reset_password_token %>

		<div class="mb-6">
			<%= f.label :password, "New password", class: 'label' %>
			<%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input' %>
			<% if @minimum_password_length %>
				<em class="italic text-sm text-gray-700">(<%= @minimum_password_length %> characters minimum)</em>
			<% end %>
		</div>

		<div class="mb-6">
			<%= f.label :password_confirmation, "Confirm new password", class: 'label' %>
			<%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'input' %>
		</div>

		<%= f.submit "Change my password", class: 'btn btn-indigo w-full' %>
	<% end %>
	<div class="my-6">
		<%= render "devise/shared/links" %>
	</div>
<% end %>
<%= render "devise/shared/form_wrap" %>