<div data-controller="tabs">
	<%= form_with(model: submission) do |form| %>
		<% if submission.errors.any? %>
			<div class="bg-red-50 text-red-800 mb-4 p-3 rounded border border-red-300">
				<h2 class="leading-tight font-bold mb-2"><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

				<ul class="list-disc pl-4">
					<% submission.errors.each do |error| %>
						<li><%= error.full_message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="mb-6 w-full lg:w-2/5">
			<label for="" class="label">Community</label>
			<div class="relative">
				<select class="select">
					<option value="1">Community 1</option>
					<option value="2">Community 2</option>
					<option value="3">Community 3</option>
				</select>

				<div class="pointer-events-none absolute right-2 flex itemts-center inset-y-4">
					<%= render_svg 'icons/chevron-down', styles: 'fill-current w-4 y-4 text-gray-400' %>
				</div>
			</div>
		</div>

		<label for="submission_type" class="label">Submission type</label>
		<nav role="submission type" class="mb-6">
			<ul class="divide-y lg:divide-y-0 lg:divide-x grid grid-cols-1 lg:grid-cols-3 gap-0 rounded border shadow-xs">
				<li>
					<a data-action="click->tabs#toggle" data-tabs-target="button" data-tab-id="text" href="#" class="p-4 flex items-center justify-center rounded hover:text-indigo-600">
						<%= render_svg 'icons/text', styles: 'pointer-events-none w-5 h-5 fill-current mr-2 text-gray-400 group-hover:text-indigo-600' %>
						Text
					</a>
				</li>
				<li>
					<a data-action="click->tabs#toggle" data-tabs-target="button" data-tab-id="url"  href="#" class="p-4 flex items-center justify-center rounded hover:text-indigo-600">
						<%= render_svg 'icons/link', styles: 'pointer-events-none w-5 h-5 fill-current mr-2 text-gray-400 group-hover:text-indigo-600' %>
						URL
					</a>
				</li>
				<li>
					<a data-action="click->tabs#toggle" data-tabs-target="button" data-tab-id="media"  href="#" class="p-4 flex items-center justify-center rounded hover:text-indigo-600">
						<%= render_svg 'icons/image', styles: 'pointer-events-none w-5 h-5 fill-current mr-2 text-gray-400 group-hover:text-indigo-600' %>
						Image
					</a>
				</li>
			</ul>
		</nav>

		<div class="mb-6">
			<%= form.label :title, class: 'label' %>
			<%= form.text_field :title, class: 'input' %>
		</div>

		<div data-tabs-target="text">
			<div class="mb-6">
				<%= form.label :body, class: 'label' %>
				<%= form.text_area :body, class: 'input min-h-[200px]' %>
			</div>
		</div>

		<div data-tabs-target="url" class="mb-6 hidden">
			<%= form.label :url, class: 'label' %>
			<%= form.text_field :url, class: 'input' %>
		</div>

		<div data-tabs-target="media" class="mb-6 hidden">
			<%= form.label :media do %>
				<span class="label">Attach a video or image</span>
				<%= form.file_field :media, class: 'block w-full text-sm text-gray-500 file:mr-4 file:rounded file:border-0 file:bg-indigo-50 file:px-4 file:py-2 file:text-sm file:font-semibold file:text-indigo-700 hover:file:bg-indigo-100 dark:file:bg-indigo-600 dark:file:text-indigo-100 dark:hover:file:bg-indigo-500' %>
			<% end %>
		</div>

		<%= form.submit class: 'btn btn-indigo' %>
	<% end %>
</div>