<% content_for :community_label, @feed_title %>

<% content_for :primary_content do %>
	<% if @submissions.any? %>
		<div id="submissions">
			<ul class="divide-y">
				<% @submissions.each do |submission| %>
					<%= render submission %>
				<% end %>
			</ul>
		</div>
	<% else %>
		<div class="p-10 text-center">
			<div class="flex justify-center">
				<%= render_svg 'icons/empty' %>
			</div>
			<p class="mb-4">Wow such empty...</p>
			<% if user_signed_in? %>
				<%= link_to "Create a new post", new_submission_path, class: 'btn btn-indigo' %>
			<% end %>
		</div>
	<% end %>
<% end %>

<% content_for :secondary_content do %>
	<div class="p-1">
		<% if user_signed_in? %>
			<h3 class='my-3 font-bold text-lg'>Welcome <%= current_user.username %></h3>
			<p class="text-grey-600 text-sm">Your personal ReDD front page. Come here to check in with your favourite communities.</p>
			<div class='grid grid-cols-2 gap-6 my-3'>
				<%= link_to "New submission", new_submission_path, class: 'btn btn-indigo block text-center' %>
				<%= link_to "New community", new_community_path, class: 'btn btn-white block text-center' %>
			</div>
		<% else %>
			<%= image_tag 'illustration.svg', class: 'max-w-full' %>
			<h3 class='my-3 font-bold text-lg'>Explore</h3>
			<p class="text-grey-600 text-sm">Find your breaking news, sports, TV, fun theories, or never-ending streams of cute animals.</p>
			<%= link_to 'How webbit works', '#', class: 'btn btn-indigo my-2 block text-center' %>
		<% end %>
	</div>
<% end %>

<%= render "basic_layout" %>