<% content_for :primary_content do %>

	<% if @submissions.any? %>
		<div id="submissions">
			<ul class="divide-y">
				<% @submissions.each do |submission| %>
					<%= render submission %>
				<% end %>
			</ul>
		</div>
	<% else %>
		<div class="p-10 text-center">
			<div class="flex justify-center">
				<%= render_svg 'icons/empty' %>
			</div>
			<p class="mb-4">Wow such empty...</p>
			<% if user_signed_in? %>
				<%= link_to "Create a new post", new_submission_path, class: 'btn btn-indigo' %>
			<% end %>
		</div>
	<% end %>
<% end %>

<% content_for :secondary_content do %>
	<%= link_to "New submission", new_submission_path %>
<% end %>

<%= render "basic_layout" %>