<% content_for :community_label, "w/#{@submission.community.name}" %>

<%= render 'communities/header', community: @submission.community %>

<% content_for :primary_content do %>
	<div class="flex flex-row justify-between">

		<%= render 'voting', submission: @submission %>

		<div class="flex-1">
			<p class="mb-3 text-sm text-gray-600">Posted by <%= link_to @submission.user.username, profile_path(@submission.user), class: 'underline' %>
				<%= time_ago_in_words(@submission.created_at) + ' ago' %>
			</p>

			<h1 class="font-bold text-3xl mb-6"><%= @submission.title %></h1>

			<% if @submission.media.video? %>
				<%= video_tag @submission.media, class: '' %>
			<% else %>
				<%# image_tag @submission.media, alt: @submission.title, class: 'rounded' %>
			<% end %>

			<div class="prose prose-lg prose-indigo">
				<%= simple_format @submission.body %>
			</div>

			<%# Submission data %>
			<div class="flex items-center space-x-5 mt-6">
				<div class="flex items-center space-x-3 pr-2">
					<%= render_svg 'icons/conversation', styles: 'w-5 fill-current text-gray-500' %>
					<%# Number of comments must be updated dynamically, cuz we send comments with Turbo. %>
					<p id="<%= dom_id(@submission) %>_comment_count">
						<%= pluralize(@submission.comments.size, 'comment') %></p>
				</div>
				<% if author_of?(@submission) %>
					<%= link_to edit_submission_path(@submission), class: 'group' do %>
						<span class="sr-only">Edit this submission</span>
						<%= render_svg 'icons/edit', styles: 'w-5 fill-current text-gray-500 group-hover:text-indigo-600' %>
					<% end %>
					<%= button_to @submission, method: :delete, confirm: 'Are you sure?', class: 'block cursor-pointer group' do %>
						<span class="sr-only">Destroy this submission</span>
						<%= render_svg 'icons/delete', styles: 'w-5 fill-current text-gray-500 group-hover:text-indigo-600' %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>

	<div class="mt-6 pt-6 border-t border-gray-300">
		<% if user_signed_in? %>
			<div id="<%= dom_id(@submission) %>_comments_form">
				<%= render 'comments/form', comment: Comment.new %>
			</div>
		<% else %>
			<div class="bg-gray-50 rounded p-4 mt-6 text-center">
				<%= link_to 'Log in reply', new_user_session_path, class: 'text-indigo-600' %>
			</div>
		<% end %>

		<div id="<%= dom_id(@submission) %>_comments" class="">
			<h3 id="comment_section" class="mt-6 text-bold">Comments</h3>
			<% if @submission.comments.any? %>
				<%= render @submission.comments %>
			<% end %>
		</div>
	</div>
<% end %>

<% content_for :secondary_content do %>
	<%= render 'communities/sidebar', community: @submission.community %>
	<%= link_to "Back to submissions", submissions_path %>
<% end %>

<%= render 'basic_layout' %>