<% content_for :form_wrap do %>
	<h2 class="text-3xl font-bold mb-6">Log in</h2>

	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="mb-6">
			<%= f.label :email, class: 'label' %>
			<%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'input' %>
		</div>

		<div class="mb-6">
			<%= f.label :password, class: 'label' %>
			<%= f.password_field :password, autocomplete: "current-password", class: 'input' %>
		</div>

		<% if devise_mapping.rememberable? %>
			<div class="mb-6 flex items-center space-x-3">
				<%= f.check_box :remember_me %>
				<%= f.label :remember_me, class: 'font-normal text-gray-800 normal-case m-0 text-base' %>
			</div>
		<% end %>

		<%= f.submit "Log in", class: 'btn btn-indigo w-full' %>
	<% end %>

	<div class="my-6">
		<%= render "devise/shared/links" %>
	</div>
<% end %>
<%= render "devise/shared/form_wrap" %>