<li id="<%= dom_id community %>" class="py-3">
	<p class="text-sm text-gray-600">w/<%= community.name %></p>
	<%= link_to community, class: 'hover:text-indigo-600' do %>
		<h3 class="font-semibold"><%= community.title %></h3>
	<% end %>
	<div class="mb-4 prose prose-indigo"><%= truncate(community.description, length: 140) %></div>
	<p class="text-xs text-gray-500">Last updated: <%= community.updated_at.to_formatted_s(:nice) %></p>

	<% if author_of?(community) %>
		<div class="flex items-center space-x-2 mt-6">
			<%= link_to edit_community_path(community), class: 'btn btn-white inline-flex flex-center text-gray-500! text-sm group hover:text-indigo-700!' do %>
				<%= render_svg 'icons/edit', styles: 'mr-2 w-4 h-4 fill-current text-gray-400 group-hover:text-indigo-700!' %>
				Edit
			<% end %>
			<%= button_to community_path(community), method: :delete, class: 'btn btn-white inline-flex items-center text-gray-500! text-sm group hover:text-red-600!' do %>
				<%= render_svg 'icons/delete', styles: 'mr-2 w-4 h-4 fill-current text-gray-400 group-hover:text-red-600' %>
				Delete
			<% end %>
		</div>
	<% end %>
</li>
