<div id="<%= dom_id community %>">
  <p>
    <strong>Name:</strong>
    <%= community.name %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= community.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= community.description %>
  </p>

  <p>
    <strong>Sidebar:</strong>
    <%= community.sidebar %>
  </p>

  <p>
    <strong>User:</strong>
    <%= community.user_id %>
  </p>

</div>
