<% content_for :community_label, "All communities" %>

<% content_for :primary_content do %>
	<% if @communities.any? %>
		<h1 class="text-2xl text-bold mb-6">Communities</h1>
		<%#<ul id="communities" class="divide-y border p-6 rounded flex items-center justify-between"> %>
		<ul id="communities" class="divide-y">
			<% @communities.each do |community| %>
				<%= render community %>
			<% end %>
		</ul>
	<% else %>
		<div class="p-10 text-center">
			<div class="flex justify-center">
				<%= render_svg 'icons/empty' %>
			</div>
			<p class="mb-4">Wow such empty...</p>
			<% if user_signed_in? %>
				<%= link_to "Create a new community", new_community_path, class: 'btn btn-indigo' %>
			<% end %>
		</div>
	<% end %>
<% end %>

<% content_for :secondary_content do %>
	<%= link_to "New community", new_community_path, class: 'btn btn-indigo' %>
<% end %>

<%= render 'basic_layout' %>
