<nav class="bg-white py-2 border-b border-gray-400" role="navigation" aria-labeld="main navigation">
	<div class="container mx-auto px-3 sm:px-0">
		<div class="flex flex-wrap items-center justify-left lg:justify-start lg:content-center space-x-3">
			<%= link_to root_path, class: 'block leading-normal no-underline text-gray-800 my-2 md:my-0 hover:text-indigo-600' do %>
				<h1 class="text-lg pr-2 uppercase font-semibold">ReDD</h1>
			<% end %>
			<div class="flex flex-wrap sm:flex-nowrap justify-start items-center flex-1 gap-y-3 sm:gap-y-0 sm:gap-x-2">

				<%# Community dropdown component %>
				<div class="flex items-center grow sm:w-1/2 md:grow-1">
					<div class="w-full">
						<div class="relative">
							<select class="select">
								<option>Community 1</option>
								<option>Community 2</option>
								<option>Community 3</option>
							</select>
							<div class="pointer-events-none absolute right-2 flex itemts-center inset-y-4">
								<%= render_svg 'icons/chevron-down', styles: 'fill-current w-4 y-4 text-gray-400' %>
							</div>
						</div>
					</div>
				</div>

				<%# Search component %>
				<div class="w-full sm:w-1/2 md:grow-2 md:w-full">
					<div class="relative">
						<input type="text" class="input pl-10!" placeholder="Search ReDD">
						<div class="pointer-events-none absolute inset-y-5 left-2 flex items-center">
							<%= render_svg 'icons/search', styles: 'fill-current w-6 y-6 text-gray-600' %>
						</div>
					</div>
				</div>

				<%# New submission %>
				<div class="flex items-stretch relative rounded border border-gray-300 py-5 px-5">
					<%= link_to new_submission_path, class: 'flex items-center justify-center absolute inset-0' do %>
						<%= render_svg "icons/create", styles: 'fill-current text-gray-400' %>
					<% end %>
				</div>

				<%# Profile dropdown %>
				<div class="w-full flex flex-wrap flex-1 items-center justify-end">
					<div>
						<% if user_signed_in? %>
							<%# Dropdown container %>
							<div class="rounded bg-white border border-gray-400 text-gray-600 ml-1 hover:gb-gray-200">
								<div class="pt-2 mb-2 pl-3 pr-1">
									<%= link_to "#", class: "no-underline flex justify-between text-xm tracking-wide items-center font-semibold" do %>
										<%= current_user.username || current_user.email %>
										<%= render_svg "icons/chevron-down" %>
									<% end %>
									<ul class="">
										<li>
											<%= link_to "#", class: 'hover:bg-indigo-600 hover:text-white text-gray-700 no-underline block py-2 px-4 flex items-center text-sm' do %>
												<%= render_svg "icons/user", styles: "w-5 h-5 fill-current text-gray-600 mr-3" %>
												My Profile
											<% end %>
										</li>
										<li>
											<%= link_to edit_user_registration_path, class: 'hover:bg-indigo-600 hover:text-white text-gray-700 no-underline block py-2 px-4 flex items-center text-sm' do %>
												<%= render_svg "icons/settings", styles: "w-5 h-5 fill-current text-gray-600 mr-3" %>
												Account settings
											<% end %>
										</li>
										<li>
											<%= button_to destroy_user_session_path, method: :delete, class: 'hover:bg-indigo-600 hover:text-white text-gray-700 no-underline block py-2 px-4 flex items-center text-sm' do %>
												<%= render_svg "icons/signout", styles: "w-5 h-5 fill-current text-gray-600 mr-3" %>
												Sign out
											<% end %>
										</li>
									</ul>
								</div>
							</div>
						<% else %>
							<%= link_to "Log in", new_user_session_path, class: 'btn btn-outline btn-sm mr-2' %>
							<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-indigo btn-sm' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</nav>