<nav class="bg-white py-2 border-b border-gray-400" role="navigation" aria-labeld="main navigation">
	<div class="container mx-auto px-3 sm:px-0">
		<div class="flex flex-wrap items-center justify-left lg:justify-start lg:content-center space-x-3">
			<%= link_to root_path, class: 'block leading-normal no-underline text-gray-800 my-2 md:my-0 hover:text-indigo-600' do %>
				<h1 class="text-lg pr-2 uppercase font-semibold">ReDD</h1>
			<% end %>
			<div class="flex flex-wrap sm:flex-nowrap justify-start items-center flex-1 gap-y-3 sm:gap-y-0 sm:gap-x-2">

				<%# Community dropdown component %>
				<% if @communities.any? %>
					<div class="flex items-center grow-1">
						<div class="w-full">
							<div data-controller="dropdown" class="relative rounded bg-white text-gray-700 ml-l hover:bg-gray-50">
								<%= link_to "#", class: 'border no-underiline flex items-center justify-between text-gray-700 py-3 px-3 rounded border-gray-400', data: { action: 'click->dropdown#toggle click@window->dropdown#hide' } do %>
									<span class="font-semibold text-sm">
										<%= content_for?(:community_label) ? yield(:community_label) : "Select a community" %>

										<%# form.select :community_id, Community.all.collect { |u| [u.name, u.id] }, { prompt: "Choose a community"}, { class: 'select'} %>
										<div class="pointer-events-none absolute right-2 flex itemts-center inset-y-[15px]">
											<%= render_svg 'icons/chevron-down', styles: 'fill-current w-5 y-5 text-gray-400' %>
										</div>
									</span>
								<% end %>

								<ul data-dropdown-target="menu" class="hidden absolute top-12 left-0 z-100 min-w-[250px] bg-white border border-gray-400 rounded shadow-lg divide-y">
									<% @communities.each do |community| %>
										<li>
											<%= link_to community, class: 'bg-white px-4 py-2 rounded hover:bg-indigo-50 hover:text-indigo-700 flex items-center group' do %>
												<%= render_svg 'icons/conversation', styles: 'mr-2 fill-current text-gray-500 w-5 h-5 group-hover:text-indigo-600' %>
												<span>w/</span><%= community.name %>
											<% end %>
										</li>
									<% end %>
								</ul>
							</div>
						</div>
					</div>
				<% end %>

				<%# Search component %>
				<div class="flex grow">
					<div class="relative">
						<%= form_with url: search_path, method: :get, data: {turbo_frame: 'searches'} do |form| %>
							<%= form.text_field :query, class: 'input pl-10!', placeholder: 'Search ReDD' %>
							<div class="pointer-events-none absolute inset-y-5 left-2 flex items-center">
								<%= render_svg 'icons/search', styles: 'fill-current w-6 y-6 text-gray-600' %>
							</div>
						<% end %>
					</div>
				</div>

				<%# New submission %>

				<%# Profile dropdown %>
				<div class="flex flex-wrap sm:flex-nowrap grow-1 shrink-0 items-center justify-end gap-x-2">
					<% if user_signed_in? %>
						<div class="flex items-stretch relative rounded border border-gray-400 py-5 px-5">
							<%= link_to new_submission_path, class: 'flex items-center justify-center absolute inset-0' do %>
								<%= render_svg "icons/create", styles: 'fill-current text-gray-400' %>
							<% end %>
						</div>

						<%# Dropdown container %>
						<div data-controller="dropdown" class="rounded bg-white border border-gray-400 text-gray-600 hover:gb-gray-200">
							<div class="relative">
								<%= link_to "#", class: "py-2 pl-4 pr-8 block no-underline justify-between text-xm tracking-wide items-center font-semibold select-none", data: {action: 'click->dropdown#toggle click@window->dropdown#hide'} do %>
									<%= current_user.username ||= current_user.email %>
									<div class="absolute right-1 top-3">
										<%= render_svg "icons/chevron-down" %>
									</div>
								<% end %>
								<div class="relative">
									<ul data-dropdown-target="menu" class="hidden absolute top-1 right-0 bg-white min-w-[200px] border rounded shadow-lg border-gray-400">
										<% if current_user.admin? %>
											<li>
												<%= link_to admin_root_path(current_user), class: 'hover:bg-indigo-50 hover:text-indigo-600 text-gray-700 no-underline block py-2 px-4 flex items-center text-sm rounded-t group' do %>
													<%= render_svg "icons/key", styles: "w-5 h-5 fill-current text-gray-600 mr-3 group-hover:text-indigo-600" %>
													Admin
												<% end %>
											</li>
										<% end %>
										<li>
											<%= link_to profile_path(current_user), class: 'hover:bg-indigo-50 hover:text-indigo-600 text-gray-700 no-underline block py-2 px-4 flex items-center text-sm rounded-t group' do %>
												<%= render_svg "icons/user", styles: "w-5 h-5 fill-current text-gray-600 mr-3 group-hover:text-indigo-600" %>
												My Profile
											<% end %>
										</li>
										<li>
											<%= link_to edit_user_registration_path, class: 'hover:bg-indigo-50 hover:text-indigo-600 text-gray-700 no-underline block py-2 px-4 flex items-center text-sm group' do %>
												<%= render_svg "icons/settings", styles: "w-5 h-5 fill-current text-gray-600 mr-3 group-hover:text-indigo-600" %>
												Account settings
											<% end %>
										</li>
										<li>
											<%= button_to destroy_user_session_path, method: :delete, class: 'w-full hover:bg-indigo-50 hover:text-indigo-600 text-gray-700 no-underline block py-2 px-4 flex items-center text-sm rounded-b group cursor-pointer' do %>
												<%= render_svg "icons/signout", styles: "w-5 h-5 fill-current text-gray-600 mr-3 group-hover:text-indigo-600" %>
												Sign out
											<% end %>
										</li>
									</ul>
								</div>
							</div>
						</div>
					<% else %>
						<div class="">
							<%= link_to "Log in", new_user_session_path, class: 'btn btn-outline btn-sm block py-3!' %>
						</div>
						<div class="">
							<%= link_to "Sign up", new_user_registration_path, class: 'btn btn-indigo btn-sm block py-3!' %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</nav>