<!DOCTYPE html>
<html>
	<head>
		<title>ReddC</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
	</head>
	<body class="bg-gray-200 accent-indigo-600 relative h-screen overflow-x-hidden">
		<%= render 'layouts/flash' %>
		<%= render 'layouts/navbar' %>
		<%# Main page content %>

		<div>
			<%= yield %>
		</div>
	</body>
</html>